body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.visually-hidden {}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.general-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

/* --------------------HEADER----------------------- */

.header {}

.header-navigation {}

.header-navigation-logo {}

.header-span {
    color: #2e2f42;
}

.header-navigation-list {}


.header-navigation-item {}


.header-navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: #404bbf;
}


.header-address {
    font-style: normal;
}

.header-address-list {}

.header-address-item {}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

/* --------------------MAIN----------------------- */
/* --------------------section-main----------------------- */

.section-main {
    background: #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF
}

/* --------------------section-advantages----------------------- */

.section-advantages {
    background: #fff
}


.advantages-list {}

.advantages-item {}

.advantages-subtitle {}

.advantages-text {}


/* --------------------section-ourteam----------------------- */

.section-ourteam {
    background-color: #F4F4FD;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.ourteam-list {
    background-color: #FFFFFF;
}

.ourteam-item {}

.ourteam-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.ourteam-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.ourteam-image {}

/* --------------------section-ourportfolio----------------------- */

.section-ourportfolio {
    background: #fff;
}

.ourportfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.ourportfolio-list {}

.ourportfolio-item {}

.ourportfolio-image {}

.ourportfolio-subtitle {}

.ourportfolio-text {}


/* --------------------FOOTER----------------------- */

.footer {
    background: #2e2f42;
}

.footer-logo {}

.footer-span {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}